@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full hover:bg-slate-600;
  }
}